<div class="row">
    <div class="col-md-12">
        <div class="float-left">
            <h4 class="mt-3">Product list</h4>
        </div>
        <div class="float-right ml-3">
            <button mat-flat-button color="primary" (click)="addProduct()" class="small-btn">Add product</button>
        </div>
        <div class="float-right">
            <form>
                <mat-form-field appearance="fill">
                    <mat-label>Sort By</mat-label>
                    <mat-select (selectionChange)="sortingProduct($event)">
                        <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>                
        </div>
        <div class="clearfix"></div>
        <hr>
    </div>
</div>
